@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  .tel-link {
    font-size: 30px;
  }
  .form-title {
    font-size: 16px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-bg-tablet.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero-bg-tablet-2x.jpg");
    }
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .menu-btn {
    display: none;
  }
  .nav-list .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-text-color);

    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list .link:hover,
  .nav-list .link:focus {
    color: var(--hover-color);
  }

  .header .container {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    margin-left: 76px;
  }

  .site-nav {
    display: flex;
  }

  .nav-list .item:not(:last-child) {
    margin-right: 40px;
  }

  .nav-active {
    position: relative;
  }
  .nav-active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--hover-color);
    display: block;
  }
  .address-list .link {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-list .link:hover,
  .address-list .link:focus {
    color: var(--hover-color);
  }

  .address {
    margin-left: auto;
  }
  .address-list .item + .item {
    margin-left: 40px;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: baseline;
    /* padding: 16px 0; */
  }
  .address-list .link {
    padding: 0;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero-bg-2x.jpg");
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    color: var(--hero-color);
    width: 496px;
    margin: 0 auto;
    margin-bottom: 36px;
  }
  .principle-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .principle-list .item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .team-card {
    flex-basis: calc((100% - 24px) / 2);
    width: 264px;
    margin-bottom: 0;
  }
  .team .container {
    width: 582px;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .customers .container {
    width: 582px;
  }
  .custom-logo {
    flex-basis: calc((100% - 48px) / 3);
  }
  .footer .container {
    width: 582px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 72px;
  }
  .logo-container,
  .soc-heading,
  .footer-form-title {
    text-align: initial;
  }
  .footer-form-container {
    display: flex;
    gap: 24px;
    align-items: flex-start;
  }
  .footer-form-input {
    width: 264px;
  }
  .modal {
    width: 408px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .address-list {
    display: flex;
    flex-direction: row;
  }
  .address {
    margin-left: auto;
  }
  .address-list .item + .item {
    margin-left: 40px;
  }
  .principle-list {
    display: flex;
    gap: 24px;
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 48px;
    height: 600px;
  }
  .principle-list .item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .svg {
    height: 112px;
    background: var(--footer-text-color);
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .principle-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    margin-bottom: 8px;
    text-align: initial;
  }
  .principle-list .item {
    margin-bottom: 0;
  }

  .projects.section {
    display: block;
    padding-top: 0;
  }
  .section-heading {
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    line-height: 1.11;
    margin-bottom: 72px;
  }

  .project-list {
    display: flex;
    gap: 24px;
  }
  .team .container {
    width: 1158px;
  }
  .team-list {
    display: flex;
    gap: 24px;
  }
  .team-card {
    flex-basis: calc((100% - 72px) / 4);
    width: 264px;
  }
  .customers-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
  }
  .custom-logo {
    flex-basis: calc((100% - 96px) / 6);
  }
  .client-link {
    width: 168px;
  }
  .footer {
    background-color: var(--secondary-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer .container {
    width: 1158px;
  }
  .footer-text {
    width: 264px;
  }
  .footer > .container {
    display: flex;
  }
  .social-media {
    margin-left: 120px;
  }
  .footer-container {
    margin-bottom: 0;
  }
  .footer-form {
    margin-left: 80px;
  }
  .footer-form-container {
    display: flex;
    justify-content: center;
    gap: 0 24px;
  }
}
