:root {
  --text-color: #434455;
  --logo-color: #4d5ae5;
  --secondary-text-color: #2e2f42;
  --hover-color: #404bbf;
  --hero-color: #ffffff;
  --footer-text-color: #f4f4fd;
  --button-border: #e7e9fc;
  --box-shadow: rgba(0, 0, 0, 0.15);
  --box-shadow-one: rgba(0, 0, 0, 0.1);
  --box-shadow-two: rgba(0, 0, 0, 0.08);
  --box-shadow-three: rgba(0, 0, 0, 0.12);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  letter-spacing: 0.02em;
  margin: 0;
}

/* Utilities */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  display: inline-block;
}

.address {
  font-style: normal;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
/* ------------------------HEADER-------------- */
header {
  border-bottom: 1px solid #e7e9fc;
}
/* Navigation */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: var(--logo-color);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-list .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--hover-color);
}
.logo .logo-part {
  color: var(--secondary-text-color);
}

.header .container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: 76px;
}

.site-nav {
  display: flex;
}

.nav-list .item:not(:last-child) {
  margin-right: 40px;
}

.nav-active {
  position: relative;
}
.nav-active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--hover-color);
  display: block;
}

/* Address */

.address-list .link {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list .link:hover,
.address-list .link:focus {
  color: var(--hover-color);
}

.address-list {
  display: flex;
}
.address {
  margin-left: auto;
}
.address-list .item + .item {
  margin-left: 40px;
}

/* -------------------HERO SECTION----------- */

.btn-container {
  padding-bottom: 188px;
}

.hero {
  background: var(--secondary-text-color);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 48px;
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--hero-color);
  letter-spacing: 0.02em;
  width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: var(--logo-color);
  box-shadow: 0px 4px 4px var(--box-shadow);
  border: none;
  border-radius: 4px;
  color: var(--hero-color);
  padding: 16px 32px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-color);
}

/* ---------------------Modal window-------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 24px 24px;
  min-width: 408px;
  min-height: 576px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0.5);
}
.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn-svg {
  fill: #2E2F42;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover {
  background-color: var(--hover-color);
}
.close-btn:hover > .close-btn-svg {
  fill: var(--hero-color);
}
/* -------Form----- */

.form-title {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 16px;
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  margin-bottom: 8px;
  
}
.form-lable {
  font-size: 12px;
line-height: 1.166;
letter-spacing: 0.04em;
color: #8E8F99;
}
.policy-lable{
  font-size: 12px;
line-height: 1.16;
letter-spacing: 0.04em;
margin-bottom: 24px;
display: flex;
align-items: center;
color: #8E8F99;
}
.policy-lable::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
cursor: pointer;
margin-right: 8px;
transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-check:checked + .policy-lable::before {
  background: var(--hover-color) url("../images/tick-check.svg") no-repeat 50% 50%;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
overflow: hidden;
padding: 0;
margin: -1px;
border: 0;
clip: rect(0 0 0 0);
}
.policy-link {
  color: #4D5AE5;;
}
.form-input { 
font: inherit;
border: 1px solid #8E8F99;
border-radius: 4px;
padding: 8px 38px;
margin: 0;
background-color: transparent;
transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
outline: none;
border-color: var(--logo-color);
}
.form-input:focus + .form-svg {
  fill: var(--logo-color);
}

.form-svg {
  display: block;
  position: absolute;
  fill: #2E2F42;;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 16px;
  margin-bottom: 16px;
transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment::placeholder {
font-size: 12px;
line-height: 1.16;
color: rgba(46, 47, 66, 0.4);

}
.form-comment:focus {
  outline: none;
border-color: var(--logo-color);
}

.submit-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: var(--logo-color);
  box-shadow: 0px 4px 4px var(--box-shadow);
  border: none;
  border-radius: 4px;
  color: var(--hero-color);
  padding: 16px 32px;
  width: 169px;
height: 56px;
text-align: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn-container{
  text-align: center;
}
.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--hover-color);
}
/*  -------------------PRINCIPLES----------- */

.principle-list {
  display: flex;
  gap: 24px;
}
.principles {
  padding-bottom: 0;
}
.svg {
  height: 112px;
  background: var(--footer-text-color);
  border-radius: 4px;

  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.principle-list .item {
  width: calc((100% - 72px) / 4);
}
.principle-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}

.principle-desc {
  font-size: 16px;
  line-height: 1.5;
}

/* -------------------PROJECTS------------- */
.section-heading {
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  line-height: 1.11;
  margin-bottom: 72px;
}

.project-list {
  display: flex;
  gap: 24px;
}

/* ---------------------TEAM--------------- */

.team {
  background-color: var(--footer-text-color);
}
.team-list {
  display: flex;
  gap: 24px;
}

.member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}

.member-position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}

.member-desc {
  padding: 32px 16px;
  background-color: var(--hero-color);
}

.team-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--logo-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-svg {
  fill: var(--footer-text-color);
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--hover-color);
}

/* -------------Customers--------- */

.customers-list {
  display: flex;
  gap: 24px;
}

.client-link {
  display: flex;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: #8e8f99;
  height: 88px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-logo {
  width: calc((100% - 120px) / 6);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--hover-color);
}

.client-link:hover > .client-svg,
.client-link:focus > .client-svg {
  fill: var(--hover-color);
}

.client-svg {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------------FOOTER------------ */

.footer {
  background-color: var(--secondary-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo .footer-logo-part {
  color: var(--footer-text-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--footer-text-color);
  width: 264px;
}
.footer .logo {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 16px;
}

.footer > .container {
  display: flex;
}

.social-media {
  margin-left: 120px;
}
.soc-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--hero-color);
  margin-bottom: 16px;
}

.social-list {
  gap: 16px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--logo-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

/* -----Footer Form ------- */
.footer-form {
  margin-left: 80px;
}
.footer-form-container {
  display: flex;
  gap: 24px;
}
.footer-form-title {
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--hero-color);
margin-bottom: 16px;
}
.footer-form-input {
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  background-color: var(--secondary-text-color);
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  color: var(--hero-color);
}

.footer-form-input::placeholder {
  font-size: 12px;
line-height: 2;
color: var(--hero-color);
}
.footer-form-input:focus {
outline: 1px solid var(--hero-color);
}
.footer-submit-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: var(--logo-color);
  border: none;
  border-radius: 4px;
  color: var(--hero-color);
 display: flex;
 justify-content: center;
 align-items: center;
padding: 8px 24px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-submit-btn:hover,
.footer-submit-btn:focus {
  background-color: var(--hover-color);
}
.footer-form-svg {
  fill: var(--hero-color);
  margin-left: 16px;
}
/************************* Portfolio **********************/

.filters-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-list .item + .item {
  margin-left: 24px;
}
.btn {
  font-family: "Roboto", sans-serif;
  padding: 12px 24px;
  height: 48px;
  background-color: var(--footer-text-color);
  border: 1px solid var(--button-border);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--logo-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px var(--box-shadow-one),
    0px 2px 1px var(--box-shadow-two), 0px 2px 2px var(--box-shadow-three);
  border-radius: 4px;
border-color: transparent;
  color: var(--hero-color);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -48px;
  margin-left: -24px;
}

.card {
  margin-left: 24px;
  margin-top: 48px;
  flex-basis: calc((100% - 72px) / 3);
}

.card-item-link:hover,
.card-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-item-link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.card-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.list-item-desc {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);

  margin-top: 8px;
}
img {
  display: block;
  max-width: 100%;
}

.card-content {
  padding: 32px 16px;
  border: 1px solid var(--button-border);
  border-top: none;
}

.card-thumb {
  position: relative; 
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  color: var(--footer-text-color);
  background-color: var(--hover-color);
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  height: 100%;
  transform: translateY(100%);
   transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-item-link:hover .overlay-text {
transform: translate(0);
}
